{%extends 'base.html'%}
{%block content%}

 <h1>login</h1>
 <form action="" method="post">
     {%csrf_token%}
     <label for=""> enter ur name </label>
     <input type="text" name="name"><br>
     <label for=""> enter ur email </label>
     <input type="email" name="name"><br>
     <label for=""> enter ur your passwoord </label>
     <input type="password" name="password"><br>
     <input type="submit" value="login">
     <br>
     <p>if don't have account click <a href="">here</a></p>
 </form>

{%endblock%}